{% extends "base.html" %}

{% block title %}Módulo de Productos - Productos Amazónicos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Productos disponibles</h1>
    <p>Explora nuestro catálogo completo de productos amazónicos. Aquí puedes ver los detalles de cada artículo, agregarlos al carrito y más.</p>
    
    <!-- Productos Disponibles (generado por script.js) -->
    <article class="bg-light p-4 rounded shadow mt-4">
        <div id="productos-lista" class="row"></div>
    </article>
</div>
{% endblock %}